<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>  
  <system.net>
    <!--Configure fiddler local proxy-->
    <!--<defaultProxy>
      <proxy autoDetect="False" bypassonlocal="False" proxyaddress="http://127.0.0.1:9000" usesystemdefault="False" />
    </defaultProxy>-->
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>